<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script charset="utf-8" src='../libs/js/vue.js'></script>
    <style>
        body {
            font-family: Helvetica Neue, Arial, sans-serif;
        }

        polygon {
            fill: #42b983;
            opacity: .75;
        }

        circle {
            fill: transparent;
            stroke: #999;
        }

        text {
            font-family: Helvetica Neue, Arial, sans-serif;
            font-size: 10px;
            fill: #666;
        }

        label {
            display: inline-block;
            margin-left: 10px;
            width: 20px;
        }

        #raw {
            position: absolute;
            top: 0;
            left: 400px;
        }
    </style>
</head>
<body class="noselect">
    <!-- 多边形 -->
    <script type="text/x-template" id="polygon-template">
        <g>
        <polygon :points="points" ></polygon>
        <circle cx="100" cy="100" r="80"></circle>
        <label-point v-for="(stat,index) in stats" :stat="stat" :index="index" :total="stats.length">
        </label-point>
        
    </g>        
    </script>

    <!-- 标签 -->
    <script type="text/x-template" id="label-point">
        <text :x="point.x" :y="point.y">{{stat.label}}</text>
    </script>

    <div id="demo">
        <svg width="200" height="200" >
            <polygon-point :stats="stats"></polygon-point>
        </svg>
        <!-- 控制 -->
        <div v-for="stat in stats">
            <label for="">{{stat.label}}</label>
            <input type="range" min="0" max="100" v-model="stat.value">
            <span>{{stat.value}}</span>
            <button @click="remove(stat)">X</button>
        </div>
        <form action="" id="add">
            <input type="text" v-model="newLabel">
            <button @click="add">添加</button>
        </form>
        <pre id="raw">{{stats}}</pre>
   
    </div>
    
    <script>
        var stats = [{
            label: 'A',
            value: 100
        },
        {
            label: 'B',
            value: 100
        },
        {
            label: 'C',
            value: 100
        },
        {
            label: 'D',
            value: 100
        },
        {
            label: 'E',
            value: 100
        },
        {
            label: 'F',
            value: 100
        }
        ]
        Vue.component("polygon-point", {
            props:['stats'],
            template:'#polygon-template',
            computed:{
                points:function(){
                    // '10,10 30,30 51,66'
                    var total = this.stats.length;
                    return this.stats.map(function(stat,i){
                        var point = valueToPoint(stat.value,i,total);
                        return point.x + ',' + point.y;
                    }).join(' ')
                }
            },
            components: {
                'label-point':{
                    props:{
                        stat: Object,
                        index: Number,
                        total: Number
                    },
                    template: '#label-point',
                    computed:{
                        point: function(){
                            return valueToPoint(+this.stat.value+10,this.index,this.total)
                        }
                    }
                }
            }
        })

        new Vue({
            el:'#demo',
            data:{
                newLabel:'',
                stats:stats
            },
            methods: {  
                add:function(e){
                    e.preventDefault();
                    if(!this.newLabel) return;
                    this.stats.push({
                        label:this.newLabel,
                        value:100
                    })
                    this.newLabel = '';
                },
                remove:function(stat){
                    if(this.stats.length > 3){
                        this.stats.splice(this.stats.indexOf(stat),1)
                    }else{
                        alert('不能再删了~')
                    }
                },
                // add: function (e) {
                //     e.preventDefault()
                //     if (!this.newLabel) return
                //     this.stats.push({
                //         label: this.newLabel,
                //         value: 100
                //     })
                //     this.newLabel = ''
                // },
                // remove: function (stat) {
                //     if (this.stats.length > 3) {
                //         this.stats.splice(this.stats.indexOf(stat), 1)
                //     } else {
                //         alert('Can\'t delete more!')
                //     }
                // }
            }
        })

        function valueToPoint(value,index,total){
            console.log(value,index,total)
            var y = value*0.8;
            var angle = Math.PI * 2 / total * index;
            var cos = Math.cos(angle);
            var sin = Math.sin(angle);
            var tx = y*sin + 100;
            var ty = y*cos + 100;
            return {
                x: tx ,
                y: ty
            } 
        }
    </script>
    
</body> 
</html>