<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script charset="utf-8" src='../libs/js/vue.js'></script>

</head>
<body>
  <h2>监听事件</h2>
  <div id="app-1">
    <button @click="counter++">click me</button>
    <p> 这个按钮被点击了 {{counter}} 次 </p>
  </div>
  <script charset="utf-8">
    var app1 = new Vue({
    
      el: "#app-1",
      data:{
        counter:0
      }
    
    })
  </script>
  <hr>
  <div id="app-2">
    <button @click="greet">click me</button>
    <p> 这个按钮被点击了 {{counter}} 次 </p>
  </div>
  <script charset="utf-8">
    var app2 = new Vue({
    
      el: "#app-2",
      data:{
        counter:0
      },
      methods:{
        greet:function(){
          return this.counter++;
        }
      }
    
    })
  </script>
  <hr>
 <div id="app-3">
    <button @click="greet('hi')">greet </button>
    <p> 这个按钮被点击了 {{counter}} 次 </p>
  </div>
  <script charset="utf-8">
    var app3 = new Vue({
    
      el: "#app-3",
      data:{
        counter:0
      },
      methods:{
        greet:function(str){
          alert(str);
        }
      }
     
    })
  </script>
  <hr>
  <div id="app-4">
    <button @click="warn('This is a warn ',$event)">warn</button>
  </div>
    <script charset="utf-8">
    var app4 = new Vue({
    
      el: "#app-4",
      data:{
        counter:0
      },
      methods:{
        warn:function(str,event){
          alert(str);
        }
      }
    
    })
  </script>
  <hr>
  <h4>时间修饰符</h4>
  <ul>
    <li>
      .stop<br>
      .prevent<br>
      .capture<br>
      .self<br>
      .once
    </li>
  </ul>
  <hr>
  <div id="app-5">
    <input @keyup.enter='submit'>
    <p>提交了 {{counter}} 次</p>
    <ul>
      <li>常用按键别名</li>
      <li>.enter</li>
      <li>.tab</li>
      <li>.delete (捕获“删除”和“退格”键)</li>
      <li>.esc</li>
      <li>.space</li>
      <li>.up</li>
      <li>.down</li>
      <li>.left</li>
      <li>.right</li>

    </ul>
    <input @keyup.prevent.stop.page-down="onPageDown">
    <input type="text" @keyup.alt.ccc='clear' v-model='shouldBeCleared'>
    <input type="text" @click.alt.exact='consoleLogSomething' v-model='shouldBeCleared'>
  </div>
  <script charset="utf-8">
    Vue.config.keyCodes.ccc = 67;
    var app5 = new Vue({
    
      el: "#app-5",
      data:{
        counter:'0',
        shouldBeCleared:''
      },
      methods:{
        submit:function(){
          this.counter++
        },
        onPageDown:function(){
          console.log('pageDown')
        },
        clear:function(){
          this.shouldBeCleared = '';
        },
        consoleLogSomething:function(){
          console.log('aaaa')
        }
      }
    
    })
  </script>
</body> 
</html>