<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script charset="utf-8" src='../libs/js/vue.js'></script>
</head>
<body>
  <h2>使用组件</h2>
  <hr>
  <h4>全局定义</h4>
  <div id="app-1">
    <my-component></my-component>
  </div>
  <script charset="utf-8">
    Vue.component('my-component',{
      template:'<div> A custom component! </div>'
    })
    var app1 = new Vue({
      el:'#app-1'
    })
  </script>
  <hr>
  <h4>局部注册</h4>
  <div id="app-2">
    <my-component2></my-component2>
  </div>
  <script charset="utf-8">
    var child ={
      template:'<div> A custom component too! </div>'
    };
    var app2 = new Vue({
      el:'#app-2',
      components:{
        'my-component2':child
      }
    })
  </script>
  <hr>
  <h4>data必须是函数</h4>
  <div id="app-3">
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>

  </div>
  <script charset="utf-8">
    var data = {
      counter:0
    }
    Vue.component('simple-counter',{
      template:'<button v-on:click="counter += 1">{{ counter }}</button>',
      data: function(){
        return data;
      }
    })
    var app3 = new Vue({
    
      el: "#app-3",

    
    })
  </script>
  <hr>
  
  <div id="app-4">
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>

  </div>
  <script charset="utf-8">
    var data = {
      counter:0
    }
    Vue.component('simple-counter',{
      template:'<button v-on:click="counter += 1">{{ counter }}</button>',
      data: function(){
        return {
          counter:0
        };
      }
    })
    var app4 = new Vue({
    
      el: "#app-4",

    
    })
  </script>
  
  <h4>Prop</h4>
  <div id="app-5">
    <child message='hellp props' msg-detail='hahaha'></child>
  </div>
  <script charset="utf-8">
    Vue.component('child', {
      // 声明props
      props:['message','msgDetail'],
      template:'<span>{{message}} {{msgDetail}}</span>'
    })
    var app5 = new Vue({
    
      el: "#app-5"
    
    })
  </script>
  <hr>
  <h4>动态Prop</h4>
  <div id="app-6">
    <input type="text" v-model='msg'>
    <child :message='msg' ></child>
  </div>
  <script charset="utf-8">
    Vue.component('child', {
      // 声明props
      props:['message'],
      template:'<span>Parent massage {{message}}</span>'
    })
    var app6 = new Vue({
    
      el: "#app-6",
      data:{
        msg:''
      }
    
    })
  </script>
  <hr>
  <h4>props 绑定一个对象多有的属性</h4>
  <div id="app-7">
    <input type="text" v-model='msg'>
    <child v-bind="todo" ></child>
    <button @click='update'>update</button>
  </div>
  <script charset="utf-8">
    // var todo = {
    //  // text: 'Learn Vue',
  //  //  isComplete: false,
  //    message:'msg'
    // }
    Vue.component('child', {
      // 声明props
      props:['message','text','isComplete'],
      template:'<span>Parent massage {{message}} + {{text}} + {{isComplete}} </span>'
    })
    var app7 = new Vue({
    
      el: "#app-7",
      data:{
        msg:'',
        todo:{
          text: 'Learn Vue',
          isComplete: false,
          message:this.msg
        }
      },
      methods:{
        update:function(){
          this.todo.isComplete = 'true'
        }
      }
    
    })
  </script>

  <h4>字面量语法 vs 动态语法</h4>
  <div id="app-8">
    <input type="text" v-model='aaa'>
    <comp somp-prop='1' ></comp>
    <comp-bind :somp-prop-bind='aaa' sdfasdfa='asdfsdf'></comp-bind>

  </div>
  <script charset="utf-8">
    var app8 = new Vue({
    
      el: "#app-8",
      data:{
        aaa:9
      },
      components:{
        comp:{
          props:['sompProp'],
          template:'<div>{{ sompProp }}</div>'
        },
        'comp-bind':{
          props:['sompPropBind'],
          template:'<div>{{ sompPropBind }}</div>'
        }
      }
    
    })
  </script>
  <h4>自定义事件 组件向父级通信</h4>
  <div id="app-9">
    <p>{{ total }}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal" ></button-counter>
  </div>
  <script charset="utf-8">

    Vue.component('button-counter',{
      template:'<button  v-on:click="incrementCounter">{{ counter }}</button>',
      data:function(){
        return {
          counter:0
        }
      },
      methods:{
        incrementCounter:function(){
          this.counter += 1;
          this.$emit('increment')
        }
      }
    })

    var app9 = new Vue({
    
      el: "#app-9",
      data:{
        total:0
      },
      methods:{
        incrementTotal : function(){
          this.total += 1;
        }
      }
    
    })

  </script>

  <div id="app-10">
    <comp-sync :foo.sync='bar'></comp-sync>
    <button @click='AppUpdateBar'>uuuupdate</button>
  </div>  

  <script charset="utf-8">
    Vue.component('comp-sync',{
      props:['bar','bar2'],
      template:'<button @click="updateBar"> {{ btn }}  ++ {{bar2}}</button>',
      data:function(){
        return {
          btn:"click me"
        }
      },
      methods:{
        updateBar:function(){
          console.log('updateBar')
          this.$emit('update:foo', "bar2")
        }
      }
    });

    var app10 = new Vue({
    
      el: "#app-10",
      data:{
        str:'hello',
        bar:this.str
      },
      methods:{
        AppUpdateBar:function(){
          return this.str = 'vue.js';
        }
      }
    
    })

  </script>
  
  <hr>

  <div id="app-11">
    <current-input v-model='price'></current-input>
  </div>
  <script charset="utf-8">
    Vue.component('current-input',{
      template:'\
          <span>\
            $\
            <input\
                ref="input"\
              v-bind:value="value"\
              v-on:input="updateValue($event.target.value)"\
            >\
          </span>\
        ',
      props:['value'],
      methods:{
        updateValue:function( value ){
          var formattedValue = value
                .trim()
                .slice(
                  0,
                  value.indexOf('.') == -1 
                    ? value.length
                    : value.indexOf('.') + 3
                )
          if(formattedValue !== value){
            this.$refs.input.value = formattedValue;
          }
          this.$emit('input',Number(formattedValue))
        }
      }
    })

    var app11 = new Vue({
    
      el: "#app-11",
      data:{
        price:''
      }
    
    })
  </script>

  <h2>使用插槽分发内容</h2>

  <div id="app-12">
    <div>
      <h5>我是父组件的标题</h5>
      <my-component>
        <p>这是一些初始内容</p>
        <p>这是更多的初始内容</p>
      </my-component>
    </div>
  </div>
    
  <script charset="utf-8">
    var app12 = new Vue({
    
      el: "#app-12",
      data:{

      },
      components:{
        'my-component':{
          template:`<div>
                      <h4>我是子组件的标题</h4>
                      <slot>
                        只有在没有要分发的内容时才会显示。
                      </slot>
                    </div>`
        }
      }
    
    })
  </script>
  <hr>
  
  <h4>动态组件</h4>

  <div id="app-13">
      <component v-bind:is="currentView">
        <!-- 组件在 vm.currentview 变化时改变！ -->
      </component>
      <button @click='changeCom'>changeCom</button>
  </div>
  <script charset="utf-8">
    var app13 = new Vue({
    el: '#app-13',
    data: {
      currentView: 'home'
    },
    methods:{
      changeCom:function(){
        return this.currentView = 'posts';
      }
    },
    components: {
      home: { 
        template:`
            <div> This is home! </div>
        `
      },
      posts: { 
        template:`
              <div> This is posts! </div>
          `
      },
      archive: {
        template:`
              <div> This is archive! </div>
          `
      } 
    }
  })
  </script>
</body>
</html>