<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script charset="utf-8" src='../libs/js/vue.js'></script>

</head>
<body>
	<div id="app-1">
		<input v-model="message" placeholder="edit me">
		<p>Message is: {{ message }}</p>
		<span>Multiline message is:</span>
		<p style="white-space: pre-line;">{{ message }}</p>
		<br>
		<textarea v-model="message" placeholder="add multiple lines"></textarea>
		<hr>
	</div>
	<script charset="utf-8">
		var app1 = new Vue({
		
			el: "#app-1",
			data:{
				message:'',
				checked:true
			}
			
		})
	</script>
	<hr>
	<div id="app-2">
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>
	</div>
	<script charset="utf-8">
		var app2 = new Vue({
		
			el: "#app-2",
			data:{
				message:'',
				checked:true
			}
			
		})
	</script>
<hr>
	<h4>复选框</h4>
	<div id="app-3">
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
		<span>Checked names: {{ checkedNames }}</span>
	</div>
	<script charset="utf-8">
		var app3 = new Vue({
		
			el: "#app-3",
			data:{
				checkedNames:[]
			}
			
		})
	</script>
	<hr>
	<h4>单选框</h4>
	<div id="app-4">
		<input type="radio" id="one" value="One" v-model="picked">
		<label for="one">Oneaaa</label>
		<br>
		<input type="radio" id="two" value="Two" v-model="picked">
		<label for="two">Twoaaa</label>
		<br>
		<span>Picked: {{ picked }}</span>
	</div>
	<script charset="utf-8">
		var app4 = new Vue({
		
			el: "#app-4",
			data:{
				picked:''
			}
		
		})
	</script>
	<hr>
	<h4> 选择列表 </h4>
	<div id="app-5">
		<select name="" id="" v-model='selected'>
			<option disabled value="">请选择</option>
			<option value='aaa'>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		 <span>Selected: {{ selected }}</span>
	</div>
	<script charset="utf-8">
		var app5 = new Vue({
		
			el: "#app-5",
			data:{
				selected:''
			}
		
		})
	</script>
	<hr>
	<div id="app-6">
		<select name="" id="" v-model='selected' multiple>
			<option disabled value="">请选择</option>
			<option value='aaa'>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		 <span>Selected: {{ selected }}</span>
	</div>
	<script charset="utf-8">
		var app6 = new Vue({
		
			el: "#app-6",
			data:{
				selected:[]
			}
		
		})
	</script>
	<h4>动态渲染</h4>
	<div id="app-7">
		<select name="" id="" v-model='selected'>
			<option v-for='option in options' :value='option.value'>
				{{option.text}}
			</option>
		</select>
		<span>Your slection is {{selected}}</span>
	</div>
	<script charset="utf-8">
		var app7 = new Vue({
		
			el: "#app-7",
			data:{
				selected:'',
				options:[
					{text:'AAA',value:'a'},
					{text:'BBB',value:'b'},
					{text:'CCC',value:'c'},
					{text:'DDD',value:'d'},
				]
			}
		
		})
	</script>
	<hr><hr>
	<h2>值绑定</h2>
	<div id="app-8">
		<input 
			type="checkbox"
			v-model='toggle'
			v-bind:true-value="a"
  		v-bind:false-value="b"
		>
		<span>{{toggle}}</span>
		<hr>
		<input type="radio" v-model='picked' :value='aaa'>111
		<input type="radio" v-model='picked' :value='bbb'>222
		<p></p>
		<span>The picked value is {{picked}} </span>
		<hr>
		<select name="" id="" v-model='selected'>
			<option value="" :value='aaa'>aaa</option>
			<option value="bbb">bbb</option>
		</select>
		<p>You slect {{selected}}</p>
	</div>
	<script charset="utf-8">
		var app8 = new Vue({
		
			el: "#app-8",
			data:{
				toggle:'',
				a:'aaa',
				b:'bbb',
				picked:'',
				aaa:'pickedaaa',
				bbb:'pickedbbb',
				selected:''
			}
		
		})
	</script>
	<hr>
	<h4>修饰符</h4>
	<div id="app-9">
		<span>.lazy</span>
		<input type="text" v-model.lazy='msg'>
		<p>You has typed : {{msg}}</p>
		<hr>
		<span>.number</span>
		<input type="number" v-model.number='msg_num' >
		<p>You has typed : {{msg_num}}</p>
		<hr>
		<span>.trim</span>
		<input type="text" v-model.trim='msg_trim'>
		<p>You has typed : {{msg_trim}}</p>
	</div>
	<script charset="utf-8">
		var app9 = new Vue({
		
			el: "#app-9",
			data:{
				msg:'',
				msg_num:'',
				msg_trim:''
			}
		
		})
	</script>
</body>
</html>